*.class
R.java

.metadata/
.directory
*~
*.sln
*.vcproj
*.tmp
*.bak
*.bat
*.am
bin/
tmp/
gen/
obj/
proguard.cfg
proguard-project.txt
*.log
*.orig
local.properties
.classpath
.settings/
.loadpath

build
lint.xml
/source/WorklightServerHome

/MainApp/gen/*
/MainApp/bin/*
